<h3 *ngIf="editMode">Edit mode!</h3>
<h3 *ngIf="!editMode">Create New Recipe!</h3>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <button type="submit" class="btn btn-success" [disabled]="form.invalid">Save</button>
        <button type="button" class="btn btn-outline-secondary" (click)="closeForm()">Cancel</button>
    </div>
    <div class="mb-3">
        <label for="name">Recipe Name</label>
        <input [ngClass]="{ 'is-invalid': showControlError('name') }"
            type="text"
            id="name"
            formControlName="name"
            class="form-control">
    </div>
    <div class="mb-3">
        <label for="imagePath">Recipe Image URL</label>
        <input [ngClass]="{ 'is-invalid': showControlError('imagePath') }"
            type="text"
            id="imagePath"
            formControlName="imagePath"
            class="form-control">
    </div>
    <div class="mb-3">
        <label for="description">Description</label>
        <textarea [ngClass]="{ 'is-invalid': showControlError('description') }"
            id="description"
            formControlName="description"
            class="form-control"></textarea>
    </div>
    <hr>
    <h4>Ingredients</h4>
    <div formArrayName="ingredients">
        <div class="row" *ngFor="let control of formIngredients.controls; let i = index" [formGroupName]="i">
            <div class="col">
                <div class="mb-3">
                    <label [for]="'ingredientName'+i">Name</label>
                    <input [ngClass]="{ 'is-invalid': showControlError('ingredients.'+i+'.name') }"
                        [id]="'ingredientName'+i"
                        formControlName="name"
                        type="text"
                        class="form-control">
                </div>
            </div>
            <div class="col flex-shrink-1 flex-grow-0">
                <div class="mb-3">
                    <label [for]="'ingredientAmount'+i">Amount</label>
                    <input [ngClass]="{ 'is-invalid': showControlError('ingredients.'+i+'.amount') }"
                        [id]="'ingredientAmount'+i"
                        formControlName="amount"
                        type="number"
                        class="form-control">
                </div>
            </div>
            <div class="col flex-shrink-1 flex-grow-0">
                <button class="btn btn-danger mt-4" (click)="onDeleteIngredient(i)">Delete</button>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-light" (click)="onAddIngredient()">Add Ingredient</button>
</form>
