<ng-container *ngIf="recipe">

    <!-- Recipe Image-->
    <img class="img-responsive" src="{{ recipe.imagePath }}" alt="" [style]="{ maxHeight: '100px'}"/>

    <!-- Recipe Heading-->
    <h1>{{ recipe.name }}</h1>

    <!-- Recipe Actions-->
    <div class="btn-group">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary dropdown-toggle" appDropdown>
                Manage Recipe
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">To Shopping List</a></li>
                <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
                <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
            </ul>
        </div>
    </div>

    <!-- Recipe Description -->
    <div>{{ recipe.description }}</div>

    <!-- Recipe Ingredients-->
    <div>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
                {{ ingredient.name }} ({{ ingredient.amount }})
            </li>
        </ul>
    </div>
</ng-container>
