<!-- Recipe Image-->
<img class="img-responsive" src="" alt=""/>

<!-- Recipe Heading-->
<h1>Recipe</h1>

<!-- Recipe Actions-->
<div class="btn-group">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Manage Recipe
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">To Shopping List</a></li>
            <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
            <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
        </ul>
    </div>
</div>

<!-- Recipe Description -->
<div>Description</div>

<!-- Recipe Ingredients-->
<div>Ingredients</div>
